.navbar{
    background-color: white;
    padding: 40px;
}
.nav-link{
    display: flex;
    justify-content: space-between;
}
body{
    background-image: url("image/bg-2.png");
    background-repeat: no-repeat;
    background-position: 50px 500px;
    
}
.banner{
    width: auto;
}

.carousel-inner{
    background-image: url("image/bg-1.png");
    background-repeat: no-repeat;
    background-position: center;
}
.banner-left{
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.banner-left {
    align-items: center;
    justify-content: center;
    line-height: 2;
}
.buy-now{
    background-color: black;
    color: aliceblue;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.banner-left button{
    margin-top: 50px;
    margin-left: 170px;
}

.card{
    border: none;
    box-shadow: 0px 0px 20px lightgray;
    padding: 40px;
    border-radius: 10px;
}
.card img{
    padding: 50px;
}
.phone-card, .laptop-card{
    margin-top: 50px;
    border: none;
    padding: 40px;
    
}
.card-head h5{
    margin-top: 20px;
    margin-bottom: 20px;
    color: darkorange;
    /* margin: 0px 20px 0px 20px; */
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.catergories-left{
    display: flex;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    align-items: center; /* Centers vertically */
}
.catergories-right img{
    width: 100%;
    height: 100%;
}
.catergories-right{
    display: flex;
    align-items: center;
}
.catergories{
    display: flex;
    justify-content: space-around;
    padding-top: none;
    padding-bottom: none;
}
.left-half{
    display: flex;
    width: 36%;
    /* height: 30%; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px 10px 5px 30px;
    box-shadow: 0px 0px 10px lightgray;
    margin-right: 10%;
    padding: 10%;
}
.left-half p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: none;
}
.left-half img{
    width: 100%;
}
.right-half{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.right-half div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px 5px 40px 5px;
    box-shadow: 0px 0px 10px lightgray;
    margin: 10%;
    padding: 25%;
}
.right-half img{
    width: 100%;
}
.line{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 90px;
    background-color: blueviolet;
    border-radius: 30px;
    margin-top: 15px;
    background: linear-gradient(to right, gold, darkorange);
}